<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>商城后台管理</title>

  <link href="__PUBLIC__/Admin/sb/css/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/sb/css/sb-admin-2.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/sb/css/font-awesome.css" rel="stylesheet" type="text/css"></head>
  <link href="__PUBLIC__/Admin/ad.css" rel="stylesheet" type="text/css"></head>
  
<body>
  <div id="wrapper">
    <include file='./Public/Template/Admin/_header_.html' />
    <!-- begin of the content -->
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">轮播广告设置</h1>
        </div>
        <div class="col-lg-12">
          <div class="carousel" id="carousel">
            <div class="carousel-container" id="carousel-body">
              <div class="carousel-item">
                <img src="__PUBLIC__/Common/images/1.jpg" alt="">
                <div class="carousel-panel">
                  <h3 class="carousel-title">广告标题</h3>
                  <div class="carousel-content">
                    广告的详细描述
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="__PUBLIC__/Common/images/1.jpg" alt="">
                <div class="carousel-panel">
                  <h3 class="carousel-title">广告标题</h3>
                  <div class="carousel-content">
                    广告的详细描述
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="__PUBLIC__/Common/images/1.jpg" alt="">
                <div class="carousel-panel">
                  <h3 class="carousel-title">广告标题</h3>
                  <div class="carousel-content">
                    广告的详细描述
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="__PUBLIC__/Common/images/1.jpg" alt="">
                <div class="carousel-panel">
                  <h3 class="carousel-title">广告标题</h3>
                  <div class="carousel-content">
                    广告的详细描述
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="__PUBLIC__/Common/images/1.jpg" alt="">
                <div class="carousel-panel">
                  <h3 class="carousel-title">广告标题</h3>
                  <div class="carousel-content">
                    广告的详细描述
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-btns" id="carousel-btns">
              <div class="prevbtn clickbtn"><span></span></div>
              <div class="nextbtn clickbtn"><span></span></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12" style="margin-top: 20px;" id="form">
          <div class="form-group">
            <label>广告标题</label>
            <input class="form-control" id="title" name="title" data-ad='title'>
          </div>
          <div class="form-group">
            <label>广告描述</label>
            <textarea class="form-control" rows="3" cols="10" name="content" id="content" data-ad="content"></textarea>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-lg-3">
              <div class="form-group">
                <label>广告图片</label>
                <p><button type="button" class="btn btn-primary" id="file">点击上传图片</button></p>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="form-group">
                <label class="col-lg-12">广告商品</label>
                <div class="col-lg-3">
                  <select class="form-control" name="lm1" id="lm1" data-ad="lm1" class="form-control"></select>
                </div>
                <div class="col-lg-3">
                  <select class="form-control" name="lm2" id="lm2" data-ad="lm2" class="form-control"></select>
                </div>
                <div class="col-lg-4">
                  <select class="form-control" name="itemname" id="itemname" data-ad="itemname" class="form-control"></select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>广告链接</label>
            <input class="form-control" id="url" name="url" data-ad='url' disabled="disabled">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="__PUBLIC__/Common/js/upload/jquery.upload.min.js"></script>
  <script src="__PUBLIC__/Common/js/selector.js"></script>
  <script>
    $(function(){
      var carousel = document.getElementById('carousel'),
          carouselBody = document.getElementById('carousel-body'),
          carouselBtn = document.getElementById('carousel-btns');
      var carouselItems,//carouselBody.querySelectorAll('.carousel-item'),
          count,
          step;
      var adtitle = $('#title'),
          adcontent = $('#content'),
          form = $('#form');

      function init(){
        carouselItems = $('.carousel-item');
        count = carouselItems.length;
        carouselBody.style.width = count*100+'%';
        step = 1/count *100;
        for (var i = carouselItems.length - 1; i >= 0; i--) {
          carouselItems[i].style.width = step + '%';
        }
      }
      init();
      
      var index = 0;
      //上下页动作
      $(carouselBtn).on('click', '.prevbtn', function(event) {
        event.preventDefault();
        index -= 1;
        if (index < 0) {index = count - 1;}
        carouselBody.style.transform = 'translateX(-'+(index*step)+'%)';
        //console.log(index);
        setEditText()
      }).on('click', '.nextbtn', function(event) {
        event.preventDefault();
        index += 1;
        if (index == count) {index = 0;}
        carouselBody.style.transform = 'translateX(-'+(index*step)+'%)';
        //console.log(index);
        setEditText()
      });

      //将广告的标题描述初始化至编辑框中
      function setEditText(){
        var item = $(carouselItems[index]);
        var datas = item.data(), flag = 0, obj;
        console.log(datas);
        for (var i in datas) {
          obj = form.find('#'+i);
          obj.val(datas[i]);
          flag ++;
        }
        if (datas['lm']) {
          var selected = datas['lm'].split(',');
          s1.selectedIndex = selected[0];
          $s1.change();
          s2.selectedIndex = selected[1];
        }else{
          s1.selectedIndex = 0;
          $s1.change();
          s2.selectedIndex = 0;
        }
        if (!flag){
          var title = item.find('.carousel-title').text(),
              content = item.find('.carousel-content').text();
          adtitle.val($.trim(title));
          adcontent.val($.trim(content));
        }
      }

      //编辑完同步
      $('#form').on('change', '.form-control' ,function(event) {
        event.preventDefault();
        var item = $(carouselItems[index]),
            act = $(this).data('ad');
        console.log(act,this.value)
        if (act && this.tagName.toLowerCase() == 'input') {
          item.data(act, this.value);
          item.find('.carousel-'+act).text(this.value);
        }
      });
      var selectors;
      //获取商品的目录
      $.get('../Catalog/getAllCatalogsFront', function(data) {
          catalogData = data;
          selectors = new selector({
              selecotor:['lm1', 'lm2'],
              data:data
          })
          selectors.setValue([0 , 0])
          $s2.change();
      });

      //选择展示商品
      var s1 = document.getElementById('lm1'),
          s2 = document.getElementById('lm2'),
          s3 = document.getElementById('itemname'),
          $s1 = $(s1),
          $s2 = $(s2),
          $s3 = $(s3),
          url = $('#url');
      function getItems(){
        var lm1 = s1.selectedIndex,//s1.options[s1.selectedIndex].value,
            lm2 = s2.selectedIndex;//s2.options[s2.selectedIndex].value;
        $.post('../Items/getItemsFront', {lm1: lm1,lm2: lm2}, function(data, textStatus, xhr) {
          //console.log(data)
          if (data) {setItems(data)}
          
        });
      }
      function setItems(items){
        s3.options.length = 0;
        for (var i = items.length - 1; i >= 0; i--) {
          s3.options[i] = new Option(items[i]['title'],items[i]['_id']);
        }
      }

      $('#lm2').change(getItems);
      $('#itemname').change(function(){
        url.val('/item/'+this.value).change();
      });
      $('select').on('blur', function(event) {
        event.preventDefault();
        event.stopPropagation();
        var item = $(carouselItems[index]);
        item.data('lm', s1.selectedIndex+','+s2.selectedIndex);
        console.log(s1.selectedIndex,s2.selectedIndex)
      });

      //初始化上传控件
      var uploader = new Uploader({
        trigger: '#file',
        action: '../Upload/uploadAD',
        data:{'ad':true},
      }).change(function(filename) {
        console.log(filename);
        this.submit();
      }).success(function(data) {
        console.log(data);
        var file_path = data.file_path,
            item = $(carouselItems[index]);
        item.find('img').attr('src', '__ROOT__'+file_path);
      });
    });
  </script>
</body>