img{width: 100%;}
.head-nav{
	background-color: #f5f5f5;
    padding: 10px;
    font-size: 14px;
    a {
	    color: #757575;
	}
	.nav-sub {
	    margin: 0 10px;
	}
}
.left-pics{
	width: 650px;
	.pic-list {
		li{
			width: 60px;
		    padding: 10px;
		    border: 1px solid #e0e0e0;
		    margin: 10px 0;
		    &:hover{
		    	border-color: #A0A0A0;
		    }
		}

	}
	.pic-big {
	    margin: 20px 30px;
	    width: 500px;
	}
}
.nodata{
	text-align: center;
	h1.title{
		font-size: 20px;
		line-height: 2em;
	}
	p.return{font-size: 16px;}
}
.active{
	border-color: #ef5b00 !important;
}
.right-docs{
    padding: 20px 0;
    margin-left: 80px;
    width: 370px;

	.item-title {
	    font-size: 28px;
	    line-height: 1.2em;
	    padding: 10px 0;
	}

	.item-desc {
	    font-size: 15px;
	    color: #736F6F;
	    padding: 10px 0;
	}

	.item-price {
	    font-size: 30px;
	    color: #ff6700;
	    height: 70px;
	    line-height: 70px;
	    border: 1px solid #e0e0e0;
	    border-right: none;
	    border-left: none;
	    margin: 20px 0;
	}
	.item-other{
		margin-bottom: 10px 0;
		&> div{margin: 20px 0;}
		p.name{
			margin: 5px 0;
			font-size: 1.5em;
			line-height: 1.5em;
		    border-left: 3px solid #B7B2B2;
		    padding-left: 10px;
		}
	}
	.item-buttons{
		margin: 10px 0;
	}
	button{
		margin-right: 10px;
		padding: 18px 60px;
		font-size: 1.2em;
		/* &:nth-child(1){margin-left: 0} */
	}
	.other-item {
	    width: 60px;
	    display: inline-block;
	    border: 2px solid #5F5A5A;
	    border-bottom-width: 6px;
	    margin-right: 10px;
	    padding: 15px;
	    text-align: center;
	    flex: 1;
	    &.active{
			border-color: #ef5b00;
	    }
	}
	.item-options {
	    border: 1px solid #e0e0e0;
	    padding: 15px 0;
	    border-left: none;
	    border-right: none;
	    margin-top: 10px;
	    a {
		    flex-grow: 1;
		    text-align: center;
		}
	}

}
.classify-w{
	border-top: 1px solid #B7B3B3;
	background-color: #fff;
    z-index: 100;
}
.classify {
	width: 800px;
	margin: auto;
	padding: 25px;
	font-size: 16px;
	color: #8C8787;
	a {
		flex-grow: 1;
		text-align: center;
		color: inherit;

		&:hover,&.active{
			color: #ff6700;
		}
	}
}

.item-detail {
	background-color: #f5f5f5;
	.sup-text p{
		padding: 10px;
		font-size: 16px;
		top: -18px;
		background-color: #f5f5f5;
	}
}
.item-content {
	.content {
	    margin: auto;
	}
	.content-s {
	    width: 750px;
	}
	.content-m {
	    width: 900px;
	}
	.content-l {
		width: 1150px;
	}
}
.item-params{
	.params-detail{
		padding: 30px;
		background: #fff;
	}
	.left-img{
		width: 100px;
		margin: 20px;
	}
	.right-params{
		margin-left: 160px;
		font-size: 14px;
		flex-wrap: wrap;
	}
	label{
		display: inline-block;
		max-width: 33%;
		min-width: 32%;
		padding: 10px 0;
		margin-bottom: 10px;
		border-left: 3px solid #e4e4e4;
		padding-left: 6px;
	}
}
