<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>编辑目录 - 商城后台管理</title>

    <link href="__PUBLIC__/Admin/sb/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/sb/css/sb-admin-2.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/sb/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/css/simditor.css" />
    <link rel="stylesheet" href="__PUBLIC__/Common/css/jquery.fileupload.css">
    <style>
        .label.well{display: inline-block;margin-right: 10px;float: left;color: black;position: relative;}
        .label .del{position: absolute;right: 2px;top: 2px;font-size: 15px;color: red;}
        .catalog{margin-top: 10px;}
    </style>
</head>

<body>
<div id="wrapper">
<include file='./Public/Template/Admin/_header_.html' />
	<div id="page-wrapper">
		<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">编辑目录</h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 50px;">
            <div class="col-lg-12">
                <div class="form-inline">
                    名字：<input type="text" class="form-control" id="caatalogName" value="{$catalog.name}">
                    增加新子目录：
                    <div class="input-group">
                        <input type="text" class="form-control" id="childName">
                        <div class="input-group-addon btn btn-success" id="addChild"><i class="fa fa-plus"></i></div>
                    </div>
                </div>
                <div id="catalogChild" class="catalog">
                    <foreach name="catalog.children" item="child">
                        <div class="well label">
                            {$child} <a href="" class="del"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </foreach>
                </div>
            </div>
            
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="container" style="padding: 7px;">
              <div class="text-right">
                  <button type="submit" id="submit" class="btn btn-default">提交</button>
                  <button type="reset" class="btn btn-default">重置</button>
                  <button class="btn btn-info btn-circle" id="toUp"><i class="fa fa-arrow-circle-o-up"></i></button>
              </div>
          </div>
        </nav>
	</div>


    <script src="__PUBLIC__/Common/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Common/js/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#catalogChild").sortable();
        $("#catalogChild").disableSelection();
        var $addChild = $('#addChild'),
            $child = $('#catalogChild'),
            $caatalogName = $('#caatalogName'),
            $childName = $('#childName');
        //$(".catalog").disableSelection();
        //添加子目录

        function getCatalog(){
            var child = [];
            $child.find('.label').each(function(index, el) {
                child.push($.trim($(this).text()))
            });
            return {
                name: $caatalogName.val(),
                children: child
            };
        }

        $addChild.click(function(event) {
            var name = $childName.val();
            $child.append(`<div class="well label">
                            ${name} <a href="" class="del"><i class="fa fa-trash-o"></i></a>
                        </div>`);
        });

        $child.on('click', '.del', function(event) {
            event.preventDefault();
            if (confirm('确认要删除该子目录？')) {
                $(this).parent().remove();
            }
        });

        $('#submit').click(function(event) {
            var catalog = getCatalog(),
                id = {$catalog.id};
            console.log()
            $.post('../Catalog/edit', {data: catalog,id:id}, function(data, textStatus, xhr) {
                console.log(data)
                if (data.ok == 1) {
                    alert('修改成功');
                }
            });

        });
    });
    </script>
</div>
</body>
</html>
