.index-list {
  margin-top: 20px; }
  .index-list .head {
    border-bottom: 2px solid; }
    .index-list .head h2 {
      display: inline-block;
      line-height: 2em; }
  .index-list .right-list {
    height: 2em;
    line-height: 2em; }
    .index-list .right-list a {
      padding: 0 10px;
      color: #000; }
    .index-list .right-list span {
      color: #AFA6A6; }
  .index-list li {
    margin: 1px; }
  .index-list .catalog-list {
    background-color: #E2E2E2; }
    .index-list .catalog-list li {
      width: 50%; }
    .index-list .catalog-list a {
      padding-left: 15px;
      height: 28px;
      line-height: 28px; }

.detail-list1 li {
  margin: 0; }

.index-list-s {
  width: 960px; }

.left-detail, .right-detail {
  width: 190px; }
