<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/Common/css/simditor.css">
</head>
<body>
	<textarea name="" id="editor" cols="30" rows="10"></textarea>
	
	<script src="__PUBLIC__/Common/js/jquery-1.12.0.js"></script>
	<script src="__PUBLIC__/Common/js/simeditor/module.min.js"></script>
	<script src="__PUBLIC__/Common/js/simeditor/hotkeys.min.js"></script>
	<script src="__PUBLIC__/Common/js/simeditor/uploader.min.js"></script>
	<script src="__PUBLIC__/Common/js/simeditor/simditor.min.js"></script>
	<script>
		$(document).ready(function() {
			var editor = new Simditor({
				textarea: $('#editor'),
				defaultImage: '__PUBLIC__/Common/images/default.png'
				//optional options
			});
		});
	</script>
</body>
</html>