<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/index.css">
</head>
<body>
	<include file='./Public/Template/index/_header_.html' />
	<div class="top-list">
		<div class="content-w clear">
			<div class="cursor-w">
				<ul class="horizon-list list">
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
				</ul>
				<span class="nextbtn"></span>
				<span class="prevbtn"></span>
			</div>
		</div>
	</div>
	<div class="sale-list ">
		<div class="content-w flex">
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<!-- <ul class="horizon-list list">
				<li class="list-item"><a href="item/3"><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></li>
				<li class="list-item"><a href="item/3"><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></li>
				<li class="list-item"><a href="item/3"><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></li>
				<li class="list-item"><a href="item/3"><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></li>
			</ul> -->
		</div>
	</div>
	<div class="star-list clear">
		<div class="content-w">
			<h1 class="header-2">明星产品</h1>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
		</div>
	</div>
	
</body>
</html>
