<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YOHO Buy</title>
	<link rel="shortcut icon" href="http://www.yohobuy.com/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
</head>
<body>
	<include file="./Public/html/common-topbar.html" />
	<include file="./Public/html/index-header.html" />
	<div class="header2016 head-banner m-width">
		<span class="prev-btn"></span>
		<span class="next-btn"></span>
		<ul class="banner-list horizon-list clear">
			<li>
				<a href="javascript:void(0)">
					<img src="__PUBLIC__/images/banner/1.jpg" alt="">
				</a>
			</li>
			<li><a href="javascript:void(0)">
					<img src="__PUBLIC__/images/banner/2.png" alt="">
				</a>
			</li>
			<li><a href="javascript:void(0)">
					<img src="__PUBLIC__/images/banner/3.jpg" alt="">
				</a>
			</li>
			<li><a href="javascript:void(0)">
					<img src="__PUBLIC__/images/banner/4.png" alt="">
				</a>
			</li>
			<li><a href="javascript:void(0)">
					<img src="__PUBLIC__/images/banner/5.jpg" alt="">
				</a>
			</li>
			<li><a href="javascript:void(0)">
					<img src="__PUBLIC__/images/banner/6.jpg" alt="">
				</a>
			</li>
		</ul>
		<ul class="banner-small-list horizon-list clear">
			<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/banner/1-s.png" alt=""></a></li>
			<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/banner/2-s.png" alt=""></a></li>
			<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/banner/3-s.png" alt=""></a></li>
			<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/banner/4-s.png" alt=""></a></li>
			<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/banner/5-s.jpg" alt=""></a></li>
			<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/banner/6-s.jpg" alt=""></a></li>
		</ul>
	</div>
	<div class="container m-width">
		<div class="index-list clear">
			<div class="head">
				<h2>优选品牌</h2>
				<div class="right right-list">
					<a href="">品牌1</a>
					<span>|</span>
					<a href="">品牌2</a>
					<span>|</span>
					<a href="">品牌3</a>
					<span>|</span>
					<a href="">品牌4</a>
				</div>
			</div>
			<div class="detail">
				<ul class="detail-list detail-list1 horizon-list">
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/1.png" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/2.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/3.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/4.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/5.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/6.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/7.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/8.jpg" alt=""></a></li>

					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/2.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/3.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/4.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/5.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/6.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/7.jpg" alt=""></a></li>
					<li><a href="javascript:void(0)"><img src="__PUBLIC__/images/index1/8.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="index-list clear">
			<div class="index-list-s left">
				<div class="head">
					<h2>人气单品</h2>
					<div class="right right-list">
						<a href="">暖春单选</a>
						<span>|</span>
						<a href="">裤类精选</a>
						<span>|</span>
						<a href="">潮鞋必备</a>
					</div>
				</div>
				<div class="detail">
					<ul class="detail-list detail-list2 horizon-list">
						<li><a href=""><img src="__PUBLIC__/images/index2/1.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/2.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/3.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/4.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/5.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/6.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/7.jpg" alt=""></a></li>
						<li><a href=""><img src="__PUBLIC__/images/index2/8.jpg" alt=""></a></li>
					</ul>
				</div>
			</div>
			<div class="right-detail right">
				<a href="" class="right"><img src="__PUBLIC__/images/index2/r1.jpg" alt=""></a>
				<a href="" class="right"><img src="__PUBLIC__/images/index2/r2.gif" alt=""></a>
			</div>
		</div>
		<div class="index-list clear">
			<div class="head">
				<h2>潮流上装</h2>
				<div class="right right-list">
					<a href="">夹克上新</a>
					<span>|</span>
					<a href="">精选卫衣</a>
					<span>|</span>
					<a href="">优选大衣</a>
					<span>|</span>
					<a href="">MORE></a>
				</div>
			</div>
			<div class="left left-detail">
				<a href="" class="left"><img src="__PUBLIC__/images/index3/l1.jpg" alt=""></a>
				<ul class="catalog-list horizon-list detail-list1 clear">
					<li><a href="">休闲鞋</a></li>
					<li><a href="">复古跑鞋</a></li>
					<li><a href="">时装鞋</a></li>
					<li><a href="">帆布鞋</a></li>
					<li><a href="">靴子</a></li>
					<li><a href="">板鞋</a></li>
				</ul>
				<ul class="catalog-list">
					<li><a href="">DVS</a></li>
					<li><a href="">DC</a></li>
					<li><a href="">Outdo Zenith</a></li>
					<li><a href="">wolverine</a></li>
					<li><a href="">Nike</a></li>
					<li><a href="">KKtP</a></li>
					<li><a href="">MORE...</a></li>
				</ul>
			</div>
			<div class="right index-list-s">
				<ul class="detail-list horizon-list">
					<li><a href=""><img src="__PUBLIC__/images/index3/1.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/3.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/4.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/5.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/7.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/8.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="index-list clear">
			<div class="head">
				<h2>经典裤装</h2>
				<div class="right right-list">
					<a href="">夹克上新</a>
					<span>|</span>
					<a href="">精选卫衣</a>
					<span>|</span>
					<a href="">优选大衣</a>
					<span>|</span>
					<a href="">MORE></a>
				</div>
			</div>
			<div class="left left-detail">
				<a href="" class="left"><img src="__PUBLIC__/images/index3/l1.jpg" alt=""></a>
				<ul class="catalog-list horizon-list detail-list1 clear">
					<li><a href="">休闲鞋</a></li>
					<li><a href="">复古跑鞋</a></li>
					<li><a href="">时装鞋</a></li>
					<li><a href="">帆布鞋</a></li>
					<li><a href="">靴子</a></li>
					<li><a href="">板鞋</a></li>
				</ul>
				<ul class="catalog-list">
					<li><a href="">DVS</a></li>
					<li><a href="">DC</a></li>
					<li><a href="">Outdo Zenith</a></li>
					<li><a href="">wolverine</a></li>
					<li><a href="">Nike</a></li>
					<li><a href="">KKtP</a></li>
					<li><a href="">MORE...</a></li>
				</ul>
			</div>
			<div class="right index-list-s">
				<ul class="detail-list horizon-list">
					<li><a href=""><img src="__PUBLIC__/images/index3/1.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/3.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/4.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/5.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/7.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/8.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="index-list clear">
			<div class="head">
				<h2>时尚鞋履</h2>
				<div class="right right-list">
					<a href="">夹克上新</a>
					<span>|</span>
					<a href="">精选卫衣</a>
					<span>|</span>
					<a href="">优选大衣</a>
					<span>|</span>
					<a href="">MORE></a>
				</div>
			</div>
			<div class="left left-detail">
				<a href="" class="left"><img src="__PUBLIC__/images/index3/l1.jpg" alt=""></a>
				<ul class="catalog-list horizon-list detail-list1 clear">
					<li><a href="">休闲鞋</a></li>
					<li><a href="">复古跑鞋</a></li>
					<li><a href="">时装鞋</a></li>
					<li><a href="">帆布鞋</a></li>
					<li><a href="">靴子</a></li>
					<li><a href="">板鞋</a></li>
				</ul>
				<ul class="catalog-list">
					<li><a href="">DVS</a></li>
					<li><a href="">DC</a></li>
					<li><a href="">Outdo Zenith</a></li>
					<li><a href="">wolverine</a></li>
					<li><a href="">Nike</a></li>
					<li><a href="">KKtP</a></li>
					<li><a href="">MORE...</a></li>
				</ul>
			</div>
			<div class="right index-list-s">
				<ul class="detail-list horizon-list">
					<li><a href=""><img src="__PUBLIC__/images/index3/1.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/3.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/4.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/5.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/7.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/8.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="index-list clear">
			<div class="head">
				<h2>潮人配饰</h2>
				<div class="right right-list">
					<a href="">夹克上新</a>
					<span>|</span>
					<a href="">精选卫衣</a>
					<span>|</span>
					<a href="">优选大衣</a>
					<span>|</span>
					<a href="">MORE></a>
				</div>
			</div>
			<div class="left left-detail">
				<a href="" class="left"><img src="__PUBLIC__/images/index3/l1.jpg" alt=""></a>
				<ul class="catalog-list horizon-list detail-list1 clear">
					<li><a href="">休闲鞋</a></li>
					<li><a href="">复古跑鞋</a></li>
					<li><a href="">时装鞋</a></li>
					<li><a href="">帆布鞋</a></li>
					<li><a href="">靴子</a></li>
					<li><a href="">板鞋</a></li>
				</ul>
				<ul class="catalog-list">
					<li><a href="">DVS</a></li>
					<li><a href="">DC</a></li>
					<li><a href="">Outdo Zenith</a></li>
					<li><a href="">wolverine</a></li>
					<li><a href="">Nike</a></li>
					<li><a href="">KKtP</a></li>
					<li><a href="">MORE...</a></li>
				</ul>
			</div>
			<div class="right index-list-s">
				<ul class="detail-list horizon-list">
					<li><a href=""><img src="__PUBLIC__/images/index3/1.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/3.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/4.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/2.png" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/5.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/7.jpg" alt=""></a></li>
					<li><a href=""><img src="__PUBLIC__/images/index3/8.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
	<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			/*$('.head-nav > li').hover(function() {
				$(this).addClass('active');
			}, function() {
				$(this).removeClass('active');
			});*/
		});
	</script>
</body>
</html>