<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/index.css">
	<link href="__PUBLIC__/Admin/ad.css" rel="stylesheet" type="text/css"></head>
</head>
<body>
	<include file='./Public/Template/Index/_header_.html' />
	<div class="top-list">
		<div class="content-w clear">
		<div class="carousel" id="carousel">
            <div class="carousel-container" id="carousel-body">
            <foreach name="advertise.carousel" item="ad">
            	<div class="carousel-item">
					<img src="__ROOT__/{$ad.picurl}" alt="">
					<div class="carousel-panel">
						<h3 class="carousel-title">{$ad.title}</h3>
						<div class="carousel-content">{$ad.content}</div>
					</div>
				</div>
            </foreach>
        	</div>
			<div class="carousel-btns" id="carousel-btns">
				<div class="prevbtn clickbtn"><span></span></div>
				<div class="nextbtn clickbtn"><span></span></div>
            </div>
    	</div>
			<!-- <div class="cursor-w">
				<ul class="horizon-list list">
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
					<li class="list-item"><img src="__PUBLIC__/Common/images/1.jpg" alt=""></li>
				</ul>
				<span class="nextbtn"></span>
				<span class="prevbtn"></span>
			</div> -->
		</div>
	</div>
	<!-- <div class="sale-list ">
		<div class="content-w flex">
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
			<div class="sale-item"><a  href="item/2" ><img src="__PUBLIC__/Common/images/2.jpg" alt=""></a></div>
		</div>
	</div> -->
	<div class="star-list clear">
		<div class="content-w">
			<h1 class="header-2">明星产品</h1>
			<foreach name="data" item="item" key="key">
				<a class="left item" {$key%5==0?'style="margin-left:0"':''} href="item/{$item['_id']}">
					<img src="{$item['pictures'][0]['src']}" alt="{$item['pictures'][0]['title']}" class="image">
					<h4 class="title">{$item.name}</h4>
					<p class="desc">{$data.subscribe}</p>
					<p class="price">{$item.price}元</p>
				</a>
			</foreach>
			<!-- <div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div>
			<div class="left item">
				<img src="__PUBLIC__/Common/images/4c.jpg" alt="" class="image">
				<h4 class="title">小米4c</h4>
				<p class="desc">高通骁龙808，发烧专用</p>
				<p class="price">998元</p>
			</div> -->
		</div>
	</div>
	<script>
	(function(){
		var carousel = document.getElementById('carousel'),
			carouselBody = document.getElementById('carousel-body'),
			carouselBtn = document.getElementById('carousel-btns');
		var carouselItems,//carouselBody.querySelectorAll('.carousel-item'),
			count,
			step,
			index = 0;
		function init(){
			carouselItems = $('.carousel-item');
			count = carouselItems.length;
			carouselBody.style.width = count*100+'%';
			step = 1/count *100;
			for (var i = carouselItems.length - 1; i >= 0; i--) {
				carouselItems[i].style.width = step + '%';
			}
		}
		init();
		carouselBtn.addEventListener('click', function(e){
			e = e || window.event;
			var target = e.target || e.srcElement,
				parent = target.tagName.toLowerCase() == 'div' ? target : target.parentElement;
			if (parent.classList.contains('prevbtn')) {
				index = index - 1 < 0 ? count -1 : index -1;
			}else{
				index = index + 1 == count ? 0 : index +1;
			}
			carouselBody.style.transform = 'translate(-'+ (index*step) +'%)';
		})
    	
	})();
	</script>
</body>
</html>
