<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索结果 —— 商城</title>
	<link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/index.css">
</head>
<body>
<include file='./Public/Template/Index/_header_.html' />
	<div class="all-list clear">
		<div class="content-w">
			<h1 class="header-2">搜索商品</h1>
			<foreach name="data" item="item" key="key">
				<a class="left item" {$key%5==0?'style="margin-left:0"':''} href="item/{$item['_id']}">
					<img src="{$item['pictures'][0]['src']}" alt="{$item['pictures'][0]['title']}" class="image">
					<h4 class="title">{$item.name}</h4>
					<p class="desc">{$data.subscribe}</p>
					<p class="price">{$item.price}元</p>
				</a>
			</foreach>
		</div>
	</div>

</body>