.header2016 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}
.content-w {
    width: 1100px;
    margin: auto;
    position: relative;
}
.header2016 a {
    padding-right: 10px;
    padding-left: 5px;
    color: #b0b0b0;
}
.header2016 .dev {
    color: #666;
}
.nav-logo {
    float: left;
    margin-top: 25px;
    width: 75px;
}
.nav-logo .logo{
    display: block;
    width: 100%;
}
.nav-bar {
    margin-left: 100px;
    margin-top: 50px;
    font-size: 16px;
    position: relative;
}
.nav-bar li.list-item {
    margin: 0 15px;
    padding: 15px;
    border: 1px solid transparent;
}
.nav-bar li.list-item:hover{
    background: #ff6700;
    //font-weight: bold;
    border: 1px solid #ff6700;
}
.nav-bar li.list-item:hover > a{
    color: #fff !important;
} 
.nav-bar .sub-items{
    top: 39px;
    margin: 10px 15px;
    padding: 15px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 10000;
    left: 0;
    border: 1px solid;
    display: none;
}
.nav-bar .sub-items a{
    margin: 5px 15px;
    margin-left: 0;
    color: #BFBFBF;
}
.nav-bar .sub-items a:hover{
    color: #fff;
}

.nav-bar li.list-item:hover > .sub-items{
    display: block;
}

.nav-search {
    margin-top: 50px;
}
.nav-search .search {
    padding: 10px 15px;
    line-height: 1.4em;
    border: 1px solid #b0b0b0;
    height: 18px;
}
.nav-search .search:focus,.nav-search .search:focus + .submit, 
.nav-search.active .search,.nav-search.active .submit{
  border-color: #ff6700;
}
.nav-search .submit {
    background: transparent;
    padding:11px 16px ;
    border: 1px solid #b0b0b0;
    border-left: none;
    height: 40px;
    cursor: pointer;
}
