.top-list{
    margin-top: 50px;
}
/*左边的分类栏*/
.goods-list {
    z-index: 10;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.41);
    width: 200px;
    padding: 38px 0;
}
.goods-list .list li.list-item {
    padding: 15px;
    padding-left: 25px;
    //background-color: rgba(0, 0, 0, 0.41);
    color: #fff;
    cursor: pointer;
}
.goods-list .list li.list-item:hover{
    background: #ff6700;
}
.list-item img{width: 100%;;}
/*轮播*/
.cursor-w {
    //position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.cursor-w .horizon-list{width: 500%;}
.cursor-w li {
    width: 1100px;
}
.cursor-w span{
    position: absolute;
    top: 50%;
    height: 69px;
    width: 42px;
    margin-top: -35px;
    cursor: pointer;
}
.cursor-w .nextbtn{
    left: 200px;
    background: url(../images/icon-slides.png) no-repeat -84px 50%;
}
.cursor-w .nextbtn:hover{
    background: url(../images/icon-slides.png) no-repeat 0 50%;
}
.cursor-w .prevbtn{
    right: 0;;
    background: url(../images/icon-slides.png) no-repeat -126px 50%;
}
.cursor-w .prevbtn:hover{
    background: url(../images/icon-slides.png) no-repeat -42px 50%;
}
/*轮播下的小广告*/
.sale-list{
    margin-top: 15px;
}
.sale-list li.list-item {
    width: 264px;
    margin-left: 14.6px;
}

.sale-list li.list-item:nth-child(1) {
    margin-left: 0;
}

/*明星产品*/
.star-list{
    margin-top: 20px;
}
.star-list .header-2 {
    font-size: 22px;
    line-height: 2.5em;
    font-weight: normal;
}
.star-list .item{
    margin-left: 12.5px;
    padding: 15px 25px;
    background: #fafafa;
    text-align: center;
}
.star-list .item:nth-child(2){
    margin-left: 0;
}
.star-list .item .title{
    font-size: 16px;
    line-height: 1.2em;
    margin-top: 5px;
    margin-bottom: 10px;
}
.star-list .item .desc{
    margin-bottom: 10px;
    color: #b0b0b0;
}
.star-list .item .price{
    color: #ff6709;
}