
.line{
	padding: 20px 0;
	border-bottom: 1px solid #e0e0e0;
	font-size: 14px;
}
.line.line-address{
	border-bottom: 0;
}
.line h3{
	font-size: 18px;
	display: inline-block;
	width: 150px;
	line-height: 27px;
	color: #000;
}
.line .active{
	color: #ff6700 !important;
	border-color: #ff6700 !important;
}
.line .line-body{
	display: inline-block;
	width: 850px;
}
.line a.timing{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #e0e0e0;
	margin-right: 20px;
}
.address{
	width: 180px;
}
.line-body.items{
	width: 100%;
	margin-top: 20px;
}
.items .item{
	margin-bottom: 10px;
}
.line-body .item > div{
	float: left;
	margin-right: 20px;
	line-height: 50px;
}
.item .image{width: 50px;}
.item .title{width: 670px;color: #000;}
.item .price{width: 100px;text-align: center;}
.item .amount{width: 100px;text-align: center;}

.line .form {
	text-align: right;
}
.line .right{
	margin-right: 20px;
}
.line .form li{
	width: 250px;
	padding: 10px 0;
}
.line .form .title{
	width: 100px;
	display: inline-block;
}
.line .form .content{
	width: 120px;
	display: inline-block;
	color: #ff6700;
}
.line .btn-confirm{
	padding: 12px 40px;
}	
.line.line-confirm{
	border-bottom: 0;
	padding-bottom: 0;
}
.line.line-confirm p{line-height: 1.5em}