.sidebar {
  width: 160px;
  background: #fff;
  padding-left: 50px;
  padding-top: 40px;
}
.sidebar .action-list {
  width: 100%;
  margin: 10px 0 20px;
}
.sidebar .action {
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  display: block;
}
.sidebar .action.action-head {
  font-weight: bold;
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}
.sidebar .action.active {
  color: #ff6700;
}

img {
  width: 100%;
}

.user-center {
  width: 880px;
  margin-left: 220px;
  min-height: 10px;
  background: #fff;
  padding: 50px 0 20px;
  position: relative;
}
.user-center .portrait {
  width: 150px;
  overflow: hidden;
  border-radius: 9999px;
  position: absolute;
  top: 50px;
  left: 50px;
}
.user-center .userinfo {
  padding-top: 25px;
  font-size: 14px;
}
.user-center h3 {
  font-size: 2em;
  line-height: 2em;
}
.user-center p {
  padding: 10px 0;
}
.user-center .panel {
  width: 50%;
}
.user-center .panel .img {
  width: 100px;
  border-radius: 9999px;
  overflow: hidden;
}
.user-center .panel .desc {
  margin-top: 20px;
  margin-left: 110px;
}
.user-center .active {
  color: #ff6700;
}
.user-center .main-info {
  border-bottom: 1px solid #EFEFEF;
  padding-left: 250px;
  width: 630px;
  margin: auto;
  height: 190px;
}
.user-center .other-info {
  margin-left: 50px;
  margin-top: 50px;
}
.user-center .other-info .panel {
  margin-bottom: 40px;
}
.user-center table {
  margin-left: 50px;
}
.user-center .edit-btn {
  position: absolute;
  top: 60px;
  right: 50px;
}

span.name::after {
  display: inline-block;
  content: ':';
  padding: 0 5px;
}

p.info-line {
  border-bottom: 2px solid #e6e6e6;
  padding: 15px 0;
  width: 90%;
  font-size: 14px;
}
p.info-line input {
  border: 1px solid #e2e2e2;
  padding: 10px;
  width: 250px;
}

.modal .info-line {
  border: none;
}

.addresses {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #e0e0e0;
}

.address {
  padding: 20px 30px 50px;
  border: 1px solid #e0e0e0;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  height: 120px;
}
.address:hover {
  border-color: #b0b0b0;
}
.address:hover .action {
  display: block;
}
.address p {
  padding: 5px 0;
  font-size: 14px;
  color: #666;
  line-height: 1.3em;
}
.address p.name {
  font-size: 17px;
  color: black;
  margin-bottom: 10px;
}
.address .action a {
  color: inherit;
  margin-right: 15px;
}
.address .action {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #ef5b00;
  display: none;
}
