<div class="head">
	<div class="head-top">
		<div class="content">
			<span>Hi~[<a href="">请登录</a>] [<a href="">免费注册</a>]</span>
			<span><a class="" href="">我的订单</a></span>
			<span><a class="" href="">我的收藏</a></span>
			<span><a class="" href="">消息</a></span>
		</div>
	</div>
	<div class="head-mid">
		<div class="content">
			<div class="left menu-list">
				<a class="active" href="">
					<h3>男生</h3>
					<h4>Boy</h4>
				</a>
				<a href="">
					<h3>女生</h3>
					<h4>Girl</h4>
				</a>
				<a href="">
					<h3>潮流</h3>
					<h4>Fation</h4>
				</a>
				<a href="">
					<h3>创意</h3>
					<h4>Creative</h4>
				</a>
				
			</div>
			<div class="middle" style="test-align:right;">
				<img src="__PUBLIC__/img/logo.png" alt="">
			</div>
			<div class="right">
				<input type="text" class="input">
				<button class="btn bg-black">search</button>
			</div>
			<div class="toolbar">
				<div class="content">
					<a href="">
						中文
					</a>
					<a href="">
						中文
					</a>
					<a href="">
						中文
					</a>
					<a href="">
						中文
					</a>
					<a href="">
						中文
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>