<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/index.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/user.css">
</head>
<body style="background: #f5f5f5">
	<include file='./Public/Template/Index/_header_.html' />
	<div class="content-w clear">
		<nav class="nav">
			<a href="__ROOT__">首页</a>
			<span class="gt"></span>
			<a href="__ROOT__/UserCenter">用户中心</a>
		</nav>
		<include file='./Public/Template/User/_sidebar_.html' />
		<div class="user-center ">
			<div class="portrait left"><img src="__PUBLIC__/Common/images/default.jpg" alt=""></div>
			<div class="main-info clear">
				<div class="userinfo panel left">
					<h3 class="username">{$user.username}</h3>
					<p style="margin-bottom: 10px;">晚上好</p>
					<p><a href="" class="active">修改个人信息 ></a></p>
				</div>
				<div class="userinfo panel left">
					<p>绑定邮箱：{$user.eamil}</p>
					<p>绑定手机：{$user.phone}</p>
				</div>
			</div>
			<div class="other-info clear">
				<div class="panel left">
					<div class="img left"><img src="__PUBLIC__/Common/images/portal-icon-1.png" alt=""></div>
					<div class="desc">
						<h3>待支付的订单：</h3>
						<p>查看待支付的订单 ></p>
					</div>
				</div>
				<div class="panel left">
					<div class="img left"><img src="__PUBLIC__/Common/images/portal-icon-2.png" alt=""></div>
					<div class="desc">
						<h3>待支付的订单：</h3>
						<p>查看待支付的订单 ></p>
					</div>
				</div>
				<div class="panel left">
					<div class="img left"><img src="__PUBLIC__/Common/images/portal-icon-3.png" alt=""></div>
					<div class="desc">
						<h3>待支付的订单：</h3>
						<p>查看待支付的订单 ></p>
					</div>
				</div>
				<div class="panel left">
					<div class="img left"><img src="__PUBLIC__/Common/images/portal-icon-4.png" alt=""></div>
					<div class="desc">
						<h3>待支付的订单：</h3>
						<p>查看待支付的订单 ></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		<script>
		$(document).ready(function() {
			$('#action-list').find('a').eq(0).addClass('active');
		});
	</script>
</body>
</html>