<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="shortcut icon" href="//s01.mifile.cn/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/index.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/user.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/css/modal.css">
	<style>
		select{padding: 5px 10px;margin-right: 10px}
		label.radio {
		    display: inline-block;
		    padding: 5px 25px;
		    margin-right: 10px;
		    border: 1px solid #e2e2e2;
		}

		label.radio.checked {
		    border-color:#F57923;
		}
		.mustfill:before{
			display: inline-block;
			content: '*';
			color: red;
			vertical-align: middle;
		}
		span.name{width: 6em;text-align: right;display: inline-block;}
	</style>
</head>
<body style="background: #f5f5f5">
	<include file='./Public/Template/Index/_header_.html' />
	<div class="content-w clear">
		<nav class="nav">
			<a href="__ROOT__">首页</a>
			<span class="gt"></span>
			<a href="__ROOT__/UserCenter">用户中心</a>
			<span class="gt"></span>
			<a href="javascript:;">个人信息</a>
		</nav>
		<include file='./Public/Template/User/_sidebar_.html' />
		<div class="user-center" style="padding-left: 40px;">
			<h3>收货地址</h3>
			<div class="addresses clear">
				<div class="address" id="addNew">
					<p  style="margin-top: 60px;margin-left: 60px;">添加新地址</p>
				</div>
				<div class="address">
					<p class="username">测试人员</p>
					<div class="more">
						<p class="phone">13800138000</p>
						<p class="detail">
							北京市 北京市 朝阳区<br>
							北三环东路15号
						</p>
					</div>
					<div class="action">
						<a href="#" class="del">删除</a>
						<a href="#" class="edit">编辑</a>
					</div>
				</div>
				<foreach name="addresses" item="address">
				<div class="address">
					<p class="username">{$address.name}</p>
					<div class="more">
						<p class="phone">{$address.phone}</p>
						<p class="detail">
							{$address.province} {$address.city} {$address.area}<br>
							{$address.detail}
						</p>
					</div>
					<div class="action">
						<a href="#" class="del" data-aid="{$address['_id']}">删除</a>
						<a href="#" class="edit">编辑</a>
					</div>
				</div>
				</foreach>
			</div>
		</div>
		<div class="modal" id="modal">
			<div class="modal-content">
				<form action="" id="form">
				<div class="modal-head">编辑基础资料</div>
				<div class="modal-body">
					<p class="info-line">
						<span class="name mustfill">联系人</span>
						<span class="value"><input type="text" name="name" /></span>
					</p>
					<p class="info-line">
						<span class="name mustfill">联系方式</span>
						<span class="value"><input type="text" name="phone" data-validate="required:必须的;tel:请输入正确的手机号码" /></span>
					</p>
					<p class="info-line">
						<span class="name mustfill">收货地址</span>
						<span class="value">
							<select name="province" id="s1" style="width: 129px"></select>
						</span>
						<span class="value">
							<select name="city" id="s2" style="width: 129px;margin-right: 0;"></select>
						</span>
						<span class="value">
							<select name="area" id="s3" style="margin-left: 88px;margin-top: 5px;width: 273px;"></select>
						</span>
					</p>
					<p class="info-line">
						<span class="name mustfill">具体地址</span>
						<span class="value"><input type="text" name="detail" /></span>
					</p>
				</div>
				<div class="modal-foot">
					<a href="javascript:;" class="btn btn-sm btn-submit">提交</a>
					<a href="javascript:;" class="btn btn-sm btn-cancel">取消</a>
				</div>
				</form>
			</div>
		</div>
		<div class="mask" id="mask"></div>
	</div>
	<script src="__PUBLIC__/Common/js/city.js"></script>
	<script>
		$(document).ready(function() {
			$('#action-list').find('a').eq(2).addClass('active');

			var form = $('#form'),
				modal = $('#modal'),
				uid = '{$user["_id"]}';

			$('#addNew').click(function(event) {
				modal.toggleClass('modal-show');
			});
			$('#mask').click(function(event) {
				modal.toggleClass('modal-show');
				getCityInfo()
			});
			setup();
			var selectors = [$('#s1'),$('#s2'),$('#s3')];
			function getCityInfo(){
				var data = []
				for (var i = 0; i < 3; i++) {
					data.push(selectors[i].val());
				}
				console.log(data.join(','))
			}

			modal.on('click', '.btn-submit', function(event) {
				event.preventDefault();
				var data = {};
				var tmpData = $('#form').serializeArray();
				for (var i = 0; i < tmpData.length; i++) {
					data[tmpData[i]['name']] = tmpData[i]['value'];
				}
				console.log(data);
				$.post('addAddress', {address: data,id:uid}, function(data, textStatus, xhr) {
					console.log(data);
				});
			}).on('click', '.btn-cancel', function(event) {
				event.preventDefault();
				modal.toggleClass('modal-show');
			});
		});
	</script>
</body>