<empty name="user">
  <script>location.href = '__ROOT__/login';</script>
</empty>
<div class="sidebar left">
	<ul class="action-list" id="action-list">
		<span href="__ROOT__/UserCenter" class="action action-head">个人中心</span>
		<a href="__ROOT__/UserCenter" class="action">个人中心</a>
		<a href="__ROOT__/Home/User/user_info" class="action">个人信息</a>
		<a href="__ROOT__/Home/User/user_address" class="action">收货地址</a>
		<a href="" class="action">喜欢的商品</a>
		<a href="" class="action">购物车</a>
	</ul>
</div>